body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #ffe6f0, #ffd6eb);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

h2 {
  margin-bottom: 15px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 400px;
  animation: fadeIn 1s ease-in-out;
}

input {
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 70%;
  margin-bottom: 15px;
}

button {
  padding: 14px 24px;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.2s ease, background 0.3s;
}

button:active {
  transform: scale(0.95);
}

#startBtn {
  background: #ff4da6;
  color: rgb(87, 83, 83);
}

.question {
  font-size: 1.5rem;
  margin: 20px 0;
}

.buttons {
  position: relative;
  width: 100%;
  height: 250px;
}

#yesBtn {
  background-color: #ff4da6;
  color: white;
}

#noBtn {
  background-color: #4c4b4b;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.2s, top 0.2s;
}

.flower {
  display: none;
  margin-top: 40px;
  font-size: 2rem;
  animation: bloom 2s ease-in-out forwards;
}

@keyframes bloom {
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}